.jumbotron{
  background-image: url(../images/landing.jpg);
  margin-right: 28px;
  font-size: 34px;
  width: auto;
  height: 600px;
}
.logo{
  padding-left: 0px;
  margin: 2px 250px;
}
.img{
  margin: 50px;
}
.head{margin-right: 0px 0px;
  padding-right: 20px;
  text-align: center;
  font-size: 14px;
}
.foods{
  margin-bottom: 10px;
}
.food-pics, .drinks-pics{
  padding: 20px;
  border: 2px solid grey;
  box-shadow: 2px 2px 2px 2px grey;
}
#breakfast{
  background-image: url(../images/breakfast.jpg);
  background-size : cover;
  height: 200px;
  width: auto;
  font-size: 45px;
  text-align: center;
}
#dinner{
  background-image: url(../images/dinner.jpg);
  background-size: cover;
  height: 200px;
  width: auto;
  font-size: 45px;
  text-align: center;
}
#lunch{background-image: url(../images/lunch.jpg);
  background-size: cover;
  height: 200px;
  width: auto;
  font-size: 45px;
  text-align: center;
}
#party{background-color: grey;
  height: 100px;
  width: auto;
  font-size: 45px;
  text-align: center;
}
#happy{
  background-color: orange;
  height: 100px;
  width: auto;
  font-size: 45px;
  text-align: center;
}
.cont {
    border: 2px solid #ddd;
    box-shadow: 0px 0px 5px lightgray;
  }
  #comments>#cont1{
   width: 55%;
     border: solid 1px gray;
     height: 50%;
     padding: 30px;
   }
   #comments>#cont2 {
    width: 50%;
     border: solid 1px gray;
     height: 150%;
     padding: 30px;
   }
   #contact {
    clear: both;
     display: block;
     width: 1500px;
     height: 300px;
     background-image: url("../images/subscribe.jpg");
     text-align: center;
     padding-top: 100px;
     font-size: 30PX;
     color: white;
   }
