.jumbotron{
  background-image: url(../images/landing.jpg);
  font-size: 24;
  width: auto;
  height: 600px;
  background-size: cover;
  text-align: center;
  padding: 170px;
  font-style: normal;
  color: white;
  font-family: sans-serif;

}
.logo{
  padding-left: 71px;
  margin: 2px 250px;
}
.img{
  margin: 100px;
}
.head{margin-right: 0px 0px;
  padding-right: 20px;
  text-align: center;
  font-size: 14px;
}
.foods{
  margin-bottom: 10px;
}
.food-pics, .drinks-pics{
  padding: 21px;
  border: 4px solid grey;
  box-shadow: 2px 0px 2px -15px grey;
}
#breakfast{
  background-image: url(../images/breakfast.jpg);
  background-size : cover;
  height: 200px;
  width: auto;
  font-size: 45px;
  text-align: center;
}
#dinner{
  background-image: url(../images/dinner.jpg);
  background-size: cover;
  height: 200px;
  width: auto;
  font-size: 45px;
  text-align: center;
}
#lunch{background-image: url(../images/lunch.jpg);
  background-size: cover;
  height: 200px;
  width: auto;
  font-size: 45px;
  text-align: center;
}
#party{background-color: grey;
  height: 100px;
  width: auto;
  font-size: 45px;
  text-align: center;
}
#happy{
  background-color: orange;
  height: 100px;
  width: auto;
  font-size: 45px;
  text-align: center;
}
.cont {
    border: 2px solid #ddd;
    box-shadow: 0px 0px 5px lightgray;
  }
  #comments>#cont1{
   width: 55%;
     border: solid 1px gray;
     height: 50%;
     padding: 30px;
   }
   #comments>#cont2 {
    width: 50%;
     border: solid 1px gray;
     height: 150%;
     padding: 30px;
   }
   #contact {
    clear: both;
     display: block;
     width: 1300px;
     height: 300px;
     background-image: url("../images/subscribe.jpg");
     text-align: center;
     padding-top: 100px;
     font-size: 30PX;
     color: white;
   }
   #footer {
     width: 1420px;
     height: 300px;
     background-color: #ff5733;
     padding-top: 50px;
     padding-right: 190px;
     font-size: 20px;
     text-align: center;
     color: white;
   }
   #ftMenu {
     width: 600px;
     margin: auto;
     font-size: 40px;
    }
    #content {
     display: inline-block;
     width: 75%;
     margin: 160px;
     height: 100px;
     background-color: inherit;
     text-align: center;
   }
   #body2 {
    clear: both;
     width: 100%;
     height: 580px;
     background-image: url("../images/foodsBg.jpg");
     height: 700px;
     image-orientation: center;
    }
    .menus {
     width: 23.5%;
     display: block;
     float: left;
     height: 210px;
     color: white;
     font-size: 18;
     text-align: center;
     font-style: italic;
       }
    .minitop {
     height: 105px;
     background-color: lightgrey;
     color: black;
   }
  .minibottom {
    height: 105px;
     background-color: #ff5733;
     color: white;
     font-family: sans-serif;
   }
   #menu2 {
    background-image: url("../images/breakfast.jpg");
   }

  #menu3 {
    background-image: url("../images/lunch.jpg");
  }

 #menu4 {
 background-image: url("../images/dinner.jpg");
  }
